/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* VARIABLES CSS */
:root {
  --nav--width: 92px;

  /* Colores */
  --first-color: #0c5df4;
  --bg-color: #12192c;
  --sub-color: #b6cefc;
  --white-color: #fff;

  /* Fuente y tipografia */
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;

  /* z index */
  --z-fixed: 100;
}

/* BASE */
*,
::before,
::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
  overflow: hidden;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

.body-layout {
  position: relative;
  margin: 0;
  padding: 0 0 0 6rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ion-icon {
  visibility: visible;
}

a {
  text-decoration: none;
}

/* l NAV */
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav--width);
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--white-color);
  padding: 1.5rem 1.5rem 2rem;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

/* NAV */
.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__brand {
  display: grid;
  grid-template-columns: max-content max-content;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 2rem;
}

.nav__toggle {
  font-size: 1.25rem;
  padding: 0.75rem;
  cursor: pointer;
}

.nav__logo {
  color: var(--white-color);
  font-weight: 600;
}

.nav__link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 0.75rem;
  padding: 0.75rem;
  color: var(--white-color);
  border-radius: 0.5rem;
  /* margin-bottom: 1rem; */
  transition: 0.3s;
  cursor: pointer;
}

.nav__link:hover {
  background-color: rgba(255, 255, 255, 0.1); /*var(--first-color);*/
}

.nav__icon {
  font-size: 1.25rem;
}

.nav_name {
  font-size: var(--small-font-size);
}

/* Expander menu */
.expander {
  width: calc(var(--nav--width) + 10.25rem);
}

/* Add padding body*/
.body-pd {
  padding: 0 0 0 16rem;
}

/* Active links menu */
/* .active {
  background-color: var(--first-color);
} */

/* COLLAPSE */
.collapse__ {
  grid-template-columns: 20px max-content 1fr;
}

.collapse__link {
  justify-self: flex-end;
  transition: 0.5;
}

.collapse__menu {
  display: none;
  /* padding: 0.75rem 2.25rem; */
}

.collapse__menu > ul {
  margin: 0;
}

.collapse__sublink {
  color: var(--sub-color);
  font-size: var(--small-font-size);
}

.collapse__sublink:hover {
  color: var(--white-color);
}

.collapse__list {
  width: 120px;
}

.collapse__list > a {
  color: white;
  font-size: var(--small-font-size);
  text-decoration: none;
}

.collapse__list > a:hover {
  text-decoration: underline;
}

/* Show collapse */
.showCollapse {
  display: block;
}

/* Rotate icon */
.rotate {
  transform: rotate(180deg);
  transition: 0.5s;
}

.router-link-active {
  text-decoration: none;
}
